# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/

# PyInstaller
build/
dist/
*.spec

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Test/coverage artifacts
.pytest_cache/
.coverage
coverage.xml
htmlcov/
